@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap')

*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #f5f5f5;
    
}

.main{
    width:100vw;
    height:100vh;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .left{
    width: 329px;
    height: 583px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }

 .imagem_principal{
    width: 329px;
    height: 583px;
}

.right{
    width: 503px;
    height: 583px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 393px;
    height: 405px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 18px #e8e8e8;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #00a551;
    text-align: center;
}
.sub-titulo{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #474749;
    text-align: center;
}
.textfield{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #7f7e83;
    display: block;
    padding: 15px 50px;
}
input{
    width: 309px;
    height: 30px;
    background-color: #f4f4f4;
    border: none;
    border-radius: 10px;
    left: 423px;
}

.botao{
    width: 150px;
    height: 30px;
    border-radius: 8px;
    border: none;
    background-color: #00a551;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 18px auto;
    cursor: pointer;
    margin-bottom: 27px;
}

.botao:hover{
    background-color: #fff;
    color: #00a551;
    transition: background 1s;
    border: 1px solid #00a551;
    
}

.conta{
    font-size: 12px;
    color: #474749;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.style-link{
    font-size: 12px;
    color: #00a551;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    padding-bottom: 27px;
}
